@charset "utf-8";


body {
	margin: 0px;
	padding: 0px;
	color: #3e6680;	
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;	
	line-height: 2;		
	background: #fff url(../images/Santiagobernabeu.jpg) no-repeat center center fixed;		/*背景指定（古いブラウザ用）*/
	background: #fff url(../images/Santiagobernabeu.jpg) no-repeat center center/cover fixed;	/*背景指定*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
a:hover img {opacity: 0.6}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

h1{
	font-size:30px;
	color:black;	
}

h2 {
	clear: both;
	margin-bottom: 15px;
	color: #fff;			
	padding: 5px 20px;
	background: #62b2e7;	
	border-radius: 4px;		
}


h3 {
	clear: both;
	margin-bottom: 15px;
	padding: 3px 20px;			
	border-radius: 4px;			
	border: 2px solid #62b2e7;	
}


p {
	padding: 0px 20px 20px;	
	
}

.greed{
	color:yellow;
}

a {
	color: #62b2e7;	
	-webkit-transition: 0.5s;	
	transition: 0.5s;	
	padding: 20px;			
}
a:hover {
	color: #d50f26;	
}


#container {
	width: 80%;					
	max-width: 1000px;			
	margin: 5% auto 0px;		
	background: #fff;					
	background: rgba(255,255,255,0.9);	
	border-radius: 12px;	
	padding: 4%;			
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);	/*影の設定。右へ・下へ・ぼかし幅・色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);			/*同上*/
	overflow: hidden;
}

header {
	text-align: center;	
}

#logo  img {
	width: 80%;			
	max-width: 500px;	
}


#menubar {
	margin: 50px 0px;	
	border-top: 3px solid #62b2e7;		
	border-bottom: 3px solid #62b2e7;	
	text-align: center;	
}

#menubar li {
	display: inline;	/*横並びにする設定*/
}
#menubar li a {
	text-decoration: none;
	padding: 10px 20px;				/*10pxは上下に、20pxは左右へ空ける余白指定。*/
	color: #62b2e7;					/*文字色*/
	font-size: 20px;				/*文字サイズを少し大きくする設定。お好みで変更して下さい。*/
	letter-spacing: 0.2em;			/*文字感覚を少し広くする設定。広くしないでいいなら、この１行を削除。*/
}
/*マウスオン時の設定*/
#menubar li a:hover {
	background: #62b2e7;	/*背景色*/
	color: #fff;			/*文字色*/
}


.list figure img {
	float: left;	/*左に回り込みさせる設定*/
	width: 18%;		/*画像の幅*/
	margin: 0px 1% 15px;	/*画像の外側に空けるスペース。左から、上(0px)、左右(1%)、下(15px)への設定。*/
	border-radius: 50%;		/*角丸のサイズ。50%にすると円形になる。正方形がいいなら、この１行削除する。*/
}


footer {
	clear: both;
	text-align: center;	/*文字をセンタリング*/
	padding: 10px 0px;	/*左から、上下、左右への余白*/
	color: #fff;		/*文字色*/
	text-shadow: 1px 1px rgba(0,0,0,0.8);	/*テキストの影。右へ、下へ、色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
}
footer a {
	text-decoration: none;
	border: none;
	color: #fff;	/*文字色*/
}
footer .pr {
	display: block;
}

.look {background: #333; color: #fff;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.color1 {color:#d50f26;}
.pr {font-size: 10px;}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: gray;
    float: right;
    font-size: 20pt;
    margin-right: 10px;
}




@media screen and (max-width:600px){


#menubar {
	margin: 15px 0px;	
	border-bottom: none;	
}

#menubar li {
	display: block;	
	margin-bottom: 5px;
	border-bottom: 3px solid #62b2e7;	
}


td, th {
	padding: 5px;			
}

}
.result{
   
 font-weight: bold;
}

.tabs-content section {
	display: none;
}

.tabs-menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.tabs-menu li {
	float: left;
	margin-right: 8px;
	margin-bottom: -1px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	border-radius: 4px 4px 0 0;

	transition: all .15s;
}
.tabs-menu a {
	display: block;
	padding: 10px 20px;
	color: #557F95;
	text-decoration: none;
}


.tabs-menu li:not(.active):hover {
	border-color: #f0f0f0 #f0f0f0 #999;
	background-color: #f0f0f0;
}


.tabs-menu .active {
	border-color: #999 #999 transparent #999;
	background-color: #fff;
}
	.tabs-menu .active a {
	color: #3F4548;
}


.tabs-content {
	clear: both;
	border: 1px solid #999;
	border-radius: 0 4px 4px 4px;
	padding: 10px;
}

#like{
	width :20px;
	height :20px;
}