{% extends 'madridsite/base.html' %}
{% block content %}
<section id="new">
    <h2 id="newinfo_hdr">更新情報・お知らせ</h2>
    <dl id="newinfo">
    <dt>2020/08/12</dt>
    <dd>公開</dd>
    <dt>2020/8/30</dt>
    <dd>AWS lambdaを利用してニュース記事を１２時間おきに更新するようにしました。</dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    </dl>
    </section>
    
    <section>
    
    <h2>本サイトの目的</h2>
    
    <h3>レアルマドリードの情報収集</h3>
    <p>このサイトは、スペインのサッカーチーム<a href="https://www.realmadrid.com/ja">Real Madrid</a>の<span class="color1"><strong>非公認ファンサイト</strong></span>です。</p>
    <p>レアルマドリードについての情報収集を目的に更新していく予定です。<br>
    今後はレアルマドリードに関する海外ニュースサイトの翻訳記事などを載せていくことを考えています。</p>
    
    <h2>レアルマドリードとは</h2>
    <p>1902年に創立。<br>現在のホームスタジアムはエスタディオ・サンティアゴ・ベルナベウ。<br>現在はリーガ・エスパニョーラのプリメーラ・ディビシオンに所属し、同リーグにおいて34回の最多優勝記録を持つほか、FCバルセロナとアスレティック・クルブと共にリーガ・エスパニョーラの創立以来、一度もプリメーラ・ディビシオンから降格したことがないクラブでもある。<br>さらに2020年の時点で6クラブのみであるビッグイヤーの永久保持を認められた史上初のクラブである。<br>
    
    獲得した国際タイトルは、UEFAチャンピオンズカップおよびUEFAチャンピオンズリーグにおいて歴代最多となる計13回の欧州制覇、さらにラ・ペケーニャ・コパ・デル・ムンド、インターコンチネンタルカップおよびFIFAクラブワールドカップにおいても歴代最多となる計9回の世界一を誇る。(Wikipedia参照)</p>
    
    
    <h2>本サイトの紹介</h2>
    <p><strong><a href="{% url 'result' %}">Result</a></strong>では2019-2020シーズンのレアルマドリードの試合結果を載せています。2020-2021シーズンも随時載せていく予定です。</p>
    <p><strong><a href="{% url 'member' %}">Member</a></strong>では2019-2020シーズンのレアルマドリードの登録選手一覧を載せています。</p>
    <p><strong><a href="{% url 'news_list' %}">News</a></strong>ではレアルマドリードに関する最新のニュースを載せています。</p>
    <p><strong><a href="{% url 'quiz' %}">Quiz</a></strong>ではレアルマドリードに関するクイズに挑戦することが出来ます！</p>
    <p><strong><a href="{% url 'poll' %}">Poll</a></strong>ではレアルマドリードに関するアンケートを行っています。ぜひ参加してみてください。</p>
    <p><strong><a href="{% url 'diagnosis' %}">Diagnosis</a></strong>では５つの質問に答えていくことで、機械があなたにおすすめのクラブチームを判定してくれます。</p>
    
    
    
    
    </section>
    
    </div>
    {% endblock %}