{% extends 'madridsite/base.html' %}
{% load static %}


{% block content %}

<form method="post" action="/poll_result">
    {% csrf_token %}
    <h3>あなたがレアルマドリードに獲得を望む選手は？</h3><br>

    <input type='radio' name='cn' value='1'　checked="checked">ムバッペ<br>
    <input type='radio' name='cn' value='2'>ハーランド<br>
    <input type='radio' name='cn' value='3'>ネイマール<br>
    <input type='radio' name='cn' value='4'>ディバラ<br>
    <input type='radio' name='cn' value='5'>その他<br>
    <br>
    <input type="submit" name="submit" value="投票">
    </form>
    <table border='1'>
    {% for poll in polls %}
    <tr>
        <td>{{ poll.player }}</td>
        <td><table><tr></tr>
        <td width={{ poll.number }}  bgcolor='blue'> </td>
        <td>{{ poll.number }} 票</td>
        </tr></table></td>
    </tr>
    
    {% endfor %}
    
    </table>

{% endblock %}