
{% extends 'madridsite/base.html' %}
{% load markdown_extras %}
{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                日時：{{ post.published_date }}
            </div>
        {% endif %}
        {% if post.author == request.user %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="{% url 'post_delete' pk=post.pk %}">削除</a>
        {% endif %}
        <h1>{{ post.title }}</h1>

        <p>{{ post.text|markdown|safe}}</p>


    </div>
    <h4>コメント欄</h4>
    {% for comment in comments %}
    <p>{{ comment.user }} : {{ comment.date_created }}</p>
    <p>{{ comment.text }}</p>
    {% endfor %}
    <a href="{% url 'comment' pk=post.pk %}">コメントする</a>
{% endblock %}