{% extends 'madridsite/base.html' %}

{% block content %}
{% if request.user  %}
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}
        {% for post in posts %}
            <table>
            <div class="post">
                <div class="date">
                    <p>{{ post.published_date }}</p>
                </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

            </div>
            </table>
        {% endfor %}
{% endblock %}